<header th:fragment="header">
    <nav class="p-3 hidden md:flex items-center justify-between border-b-2 shadow-[0_5px_7px_-5px_rgba(0,0,0,0.2)] dark:bg-gray-600 dark:border-gray-700">
        <a href="/"><img class="mr-3 w-36" src="img/logo-svg.svg" alt="logo"></a>
        <ul class="flex space-x-4 flex-grow justify-center">
            <li><a class="text-gray-700 font-medium hover:text-cyan-700 header-link dark:text-gray-400 dark:hover:text-cyan-600" href="/pretraga">Pretraga</a></li>
            <li><a class="text-gray-700 font-medium hover:text-cyan-700 header-link dark:text-gray-400 dark:hover:text-cyan-600" href="/oglasi">Oglasi</a></li>
            <li><a class="text-gray-700 font-medium hover:text-cyan-700 header-link dark:text-gray-400 dark:hover:text-cyan-600" href="/postavi-oglas">Postavi oglas</a></li>
        </ul>
        <div class="flex items-center space-x-4">
            <a class="text-gray-700 font-medium hover:text-cyan-700 header-link dark:text-gray-400 dark:hover:text-cyan-600" href="/kontakt">Kontakt</a>

            <div th:unless="${user != null}" data-dropdown-toggle="userDropdown" data-dropdown-placement="bottom-start">
              <button type="button" class="text-gray-700 font-medium hover:text-cyan-700 inline-flex items-center header-link dark:text-gray-400 dark:hover:text-cyan-600">Korisnički račun
                  <svg class="w-4 h-4 ml-1" viewBox="0 0 20 14" fill="currentColor">
                    <path fill-rule="evenodd" d="M6 6l4 4 4-4H6z" />
                  </svg>
              </button>
            </div>
            <div th:if="${user != null}">
              <img th:if="${user.profileImage == null}" src="img/icons8-user-50.png" data-dropdown-toggle="userDropdown" data-dropdown-placement="bottom-start" alt="Default slika profila" class="w-10 rounded-full ring-2 ring-cyan-600 dark:ring-cyan-700 text-cyan-700 cursor-pointer hover:fill-gray-200">
              <div class="relative w-12">
                <img th:unless="${user.profileImage == null}" th:src="${user.profileImage}" data-dropdown-toggle="userDropdown" data-dropdown-placement="bottom-start" alt="Slika profila" class="w-10 h-10 rounded-full object-contain ring-2 ring-cyan-600 dark:ring-cyan-700 text-cyan-700 cursor-pointer hover:fill-gray-200">
                <svg class="right-0 absolute w-4 h-4 ml-1 top-[13px] left-[35px]" viewBox="0 0 20 14" fill="currentColor">
                  <path fill-rule="evenodd" d="M6 6l4 4 4-4H6z" />
                </svg>
              </div>
              
            </div>

            <!-- Dropdown menu -->
            <div id="userDropdown" class="z-20 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-40 dark:bg-gray-700 dark:divide-gray-600">
                <div th:if="${user != null}" class="px-4 py-3 text-sm text-gray-900 dark:text-white">
                  <div th:if="${user.firstName != null}" th:text="${user.firstName + ' ' + user.lastName}"></div>
                  <div th:unless="${user.firstName != null}" th:text="${user.companyName}"></div>
                  <div class="font-medium truncate" th:text="${user.username}"></div>
                </div>
                <ul class="py-2 text-gray-700 dark:text-gray-200" aria-labelledby="avatarButton">
                  <li>
                    <a th:unless="${user != null}" href="/prijava" class="block px-4 py-2 text-gray-700 font-medium hover:text-cyan-700 hover:bg-gray-100 dark:text-gray-400 dark:hover:text-cyan-600 dark:hover:bg-gray-700" role="menuitem">Prijava</a>
                  </li>
                  <li>
                    <a th:unless="${user != null}" href="/registracija" class="block px-4 py-2 text-gray-700 font-medium hover:text-cyan-700 hover:bg-gray-100 dark:text-gray-400 dark:hover:text-cyan-600 dark:hover:bg-gray-700" role="menuitem">Registracija</a>
                  </li>
                  <li>
                    <a th:if="${user != null}" href="/korisnicki-profil" class="block px-4 py-2 text-gray-700 font-medium hover:text-cyan-700 hover:bg-gray-100 dark:text-gray-400 dark:hover:text-cyan-600 dark:hover:bg-gray-700" role="menuitem">Korisnički profil</a>
                  </li>
                </ul>
                <div th:if="${user != null}" class="py-2">
                  <a href="/odjava" class="block px-4 py-2 text-gray-700 font-medium hover:text-cyan-700 hover:bg-gray-100 dark:text-gray-400 dark:hover:text-cyan-600 dark:hover:bg-gray-700" role="menuitem">Odjava</a>
                </div>
            </div>

        </div>
    </nav>

    <!--za mobitel hamburger bar (treba podesit)-->
    <div class="md:hidden flex justify-between">
        <a href="/"><img class="mr-3 w-36" src="img/logo-svg.svg" alt="logo"></a>

        <button data-collapse-toggle="navbar-hamburger" type="button" class="inline-flex items-center justify-center p-2 w-10 h-10 ml-3 text-sm text-gray-500 rounded-lg hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600" aria-controls="navbar-hamburger" aria-expanded="false">
          <span class="sr-only">Navigacijska traka</span>
          <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
          </svg>
        </button>

        <div class="hidden absolute w-full" id="navbar-hamburger">
          <ul class="flex flex-col font-medium mt-4 rounded-lg bg-gray-50 dark:bg-gray-800 dark:border-gray-700">
            <li>
              <a href="/pretraga" class="block py-2 pl-3 pr-4 text-white bg-blue-700 rounded dark:bg-blue-600" aria-current="page">Pretraga</a>
            </li>
            <li>
              <a href="/oglasi" class="block py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">Oglasi</a>
            </li>
            <li>
              <a href="/postavi-oglas" class="block py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white">Postavi oglas</a>
            </li>
            <li>
              <a href="/kontakt" class="block py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">Kontakt</a>
            </li>
            <li>
                <a th:unless="${user != null}" href="/prijava" class="block py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white" role="menuitem">Prijava</a>
            </li>
            <li>  
                <a th:unless="${user != null}" href="/registracija" class="block py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white" role="menuitem">Registracija</a>
            </li>
            <li>  
                <a th:if="${user != null}" href="/korisnicki-racun" class="block py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white" th:text="${user.username}"></a>
            </li>
            <li> 
                <a th:if="${user != null}" href="/odjava" class="block py-2 pl-3 pr-4 text-gray-900 rounded hover:bg-gray-100 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white" role="menuitem">Odjava</a>
            </li>
          </ul>
        </div>
    </div>
      
</header>