<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <th:block th:insert="~{fragments/head :: head}"></th:block>
    <script th:src="@{/step2.js}" defer="defer"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/alpinejs@2.8.0/dist/alpine.js"></script>
    <title>AutoSpotter | Postavi oglas</title>
</head>
<body class="flex flex-col min-h-screen">
    
    <th:block th:insert="~{fragments/header :: header}"></th:block>

    <main class="flex flex-1 space-x-4">

        <th:block th:insert="~{fragments/sideDiv :: sideDiv}"></th:block>

        <div class="flex flex-col flex-1 w-50">

            <h1 class="text-3xl font-bold text-gray-700 mb-8 mt-8">Postavi oglas</h1>

            <div th:if="${step eq 1}" class="h-full mb-4 flex flex-col items-center border rounded-md">
                <th:block th:insert="~{fragments/progress-bar :: progress-bar}"></th:block>
                <h2 class="text-xl font-bold text-gray-700 mb-8">Vrsta vozila</h2>
                <form th:action="@{/oglas-1}" method="post">
                    <div class="flex flex-col mb-4">
                        <label for="vehicleType">Prodajem</label>
                        <select id="vehicleType" name="vehicleType" class="input w-96">
                            <option th:each="type : ${vehicleTypes}" th:value="${type}" th:text="${type}" th:selected="${type eq session['vehicleType']}"></option>
                        </select>
                    </div>
                    <div class="flex flex-col mb-4">
                        <input type="submit" value="Dalje" class="button">
                    </div>
                </form>
            </div>

            <div th:if="${step eq 2}" class="h-full mb-4 flex flex-col items-center border rounded-md">
                <th:block th:insert="~{fragments/progress-bar :: progress-bar}"></th:block>
                <h2 class="text-xl font-bold text-gray-700 mb-8">Vozilo - osnovno</h2>
                <form th:action="@{/oglas-2}" method="post">
                    <div class="flex flex-col mb-4">
                        <label for="manufacturer">Proizvođač</label>
                        <select id="manufacturer" name="manufacturer" required class="input">
                            <option value="" disabled selected>Odabir</option>
                            <option th:each="manufacturer : ${manufacturers}" th:value="${manufacturer}" th:text="${manufacturer}"
                             ></option>
                        </select>
                    </div>
                    
                    <div class="flex flex-col">
                        <label for="model">Model</label>
                        <select id="model" name="model" required class="input">
                            <option value="" disabled selected>Odabir</option>
                        </select>
                    </div>

                    <div th:if="${showBodyTypeInput}" class="flex flex-col mt-4">
                        <label for="bodyType">Oblik karoserije</label>
                        <select id="bodyType" name="bodyType" required class="input">
                            <option value="" disabled selected>Odabir</option>
                            <option th:each="bodyType : ${bodyTypes}" th:value="${bodyType}" th:text="${bodyType}"
                             th:selected="${bodyType eq session['bodyType']}"></option>
                        </select>
                    </div>

                    <div class="grid grid-cols-2 gap-4">
                        <div th:if="${showNumberOfWheelsInput}" class="flex flex-col mb-4 mt-4">
                            <label for="numberOfWheels">Broj kotača</label>
                            <input type="number" id="numberOfWheels" name="numberOfWheels" min="4" placeholder="6" required th:value="${initialNumberOfWheels}"
                             class="input no-arrows">
                        </div>
                        <div th:unless="${showNumberOfWheelsInput}" class="flex flex-col mb-4">
                            <input type="hidden" name="numberOfWheels" th:value="${initialNumberOfWheels}">
                        </div>
                        
                        <div th:if="${showMaximumAllowableWeightInput}" class="relative flex flex-col mb-4 mt-4">
                            <label for="maximumAllowableWeight">Najveća dopuštena masa</label>
                            <div class="flex items-center">
                                <input type="text" id="maximumAllowableWeight" name="maximumAllowableWeight" placeholder="1000" pattern="[0-9]*\.?[0-9]+" required
                                 class="input no-arrows" oninput="validateInput(this)">
                                <span class="absolute right-0 pr-2 text-gray-500 text-xl">kg</span>
                            </div> 
                        </div>
                    </div>
                    
                    <div class="grid grid-cols-2 gap-4">
                        <div class="flex flex-col mb-4">
                            <label for="year">Godina proizvodnje</label>
                            <select id="year" name="year" required class="input">
                                <option value="" disabled selected>Odabir</option>
                                <option th:each="year : ${years}" th:value="${year}" th:text="${year}" th:selected="${year eq session['year']}"></option>
                            </select>
                        </div>
                    
                        <div class="flex flex-col mb-2">
                            <label for="registeredYes">Registriran</label>
                            <div class="flex justify-between mt-1">
                                <div class="flex items-center">
                                    <input id="registeredYes" type="radio" name="registeredRadio" value="Da" class="hidden" />
                                    <label for="registeredYes" class="flex items-center cursor-pointer">
                                     <span class="w-4 h-4 inline-block mr-1 rounded-full border border-grey"></span>Da</label>
                                </div>
                                <div class="flex items-center">
                                    <input id="registeredNo" type="radio" name="registeredRadio" value="Ne" class="hidden" />
                                    <label for="registeredNo" class="flex items-center cursor-pointer">
                                     <span class="w-4 h-4 inline-block mr-1 rounded-full border border-grey"></span>Ne</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div id="registeredDateInput" class="flex flex-col mb-4 hidden">
                        <label for="registeredDate">Datum sljedeće registracije</label>
                        <input type="date" id="registeredDate" name="registeredDate" required class="input">
                    </div>
                    
                    <div class="grid grid-cols-2 gap-4">
                        <div class="flex flex-col mb-4">
                            <label for="color">Boja vozila</label>
                            <input type="text" id="color" name="color" placeholder="crna" required class="input">
                        </div>

                        <div class="flex flex-col mb-4">
                            <label for="city">Lokacija vozila</label>
                            <select id="city" name="city" required class="input">
                                <option value="" disabled selected>Odabir</option>
                                <option th:each="city : ${cities}" th:value="${city}" th:text="${city}"></option>
                            </select>
                        </div>
                    </div>

                    <div class="grid grid-cols-2 gap-4">
                        <div class="flex flex-col mb-4">
                            <label for="mileage">Kilometraža</label>
                            <input type="number" id="mileage" name="mileage" min="0" placeholder="0" required class="input no-arrows">
                        </div>
    
                        <div class="flex flex-col mb-4">
                            <label for="state">Stanje</label>
                            <select id="state" name="state" required class="input">
                                <option value="" disabled selected>Odabir</option>
                                <option th:each="state : ${states}" th:value="${state}" th:text="${state}" th:selected="${state eq session['state']}"></option>
                            </select>
                        </div>
                    </div>

                    <div class="flex justify-between mb-4">
                        <div class="mt-2">
                            <div th:if="${step > 1}">
                                <a th:href="@{/back(step=${step - 1})}" class="button ">Nazad</a>
                            </div>
                        </div>
                        <div>
                            <input type="hidden" name="vehicleTypeId" th:value="${vehicleTypeId}">
                            <input type="submit" value="Dalje" class="button">
                        </div>
                    </div>
                </form> 
            </div>

            <div th:if="${step eq 3}" class="h-full mb-4 flex flex-col items-center border rounded-md">
                <th:block th:insert="~{fragments/progress-bar :: progress-bar}"></th:block>
                <h2 class="text-xl font-bold text-gray-700 mb-8">Vozilo - tehničko</h2>
                <form th:action="@{/oglas-3}" method="post">

                    <div class="flex flex-col mb-4">
                        <label for="engineType">Motor</label>
                        <select id="engineType" name="engineType" required class="input w-96">
                            <option value="" disabled selected>Odabir</option>
                            <option th:each="engineType : ${engineTypes}" th:value="${engineType}" th:text="${engineType}" th:selected="${engineType eq session['engineType']}"></option>
                        </select>
                    </div>
                    
                    <div class="grid grid-cols-2 gap-4">
                        <div class="relative flex flex-col mb-4">
                            <label for="engineDisplacement">Zapremnina motora</label>
                            <div class="flex items-center">
                                <input type="text" id="engineDisplacement" name="engineDisplacement" placeholder="1.0" pattern="[0-9]*\.?[0-9]+" required
                                 class="input" oninput="validateInput(this)">
                                <span class="absolute right-0 pr-2 text-gray-500 text-xl">L</span>
                            </div>
                        </div>
                        <div class="relative flex flex-col mb-4">
                            <label for="enginePower">Snaga motora</label>
                            <div class="flex items-center">
                                <input type="number" id="enginePower" name="enginePower" min="0" placeholder="50" required class="input no-arrows">
                                <span class="absolute right-0 pr-2 text-gray-500 text-xl">kW</span>
                            </div>
                        </div>
                    </div>
                    
                    <div class="relative flex flex-col mb-4">
                        <label for="fuelConsumption">Potrošnja goriva</label>
                        <div class="flex items-center">
                          <input type="text" id="fuelConsumption" name="fuelConsumption" placeholder="1.0" required class="input w-96" oninput="validateInput(this)">
                          <span class="absolute right-0 pr-2 text-gray-500 text-xl">L/100km</span>
                        </div>
                    </div>
                    <div class="grid grid-cols-2 gap-4">
                        <div class="flex flex-col mb-4">
                            <label for="transmission">Mjenjač</label>
                            <select id="transmission" name="transmission" class="input" >
                                <option value="" disabled selected>Odabir</option>
                                <option th:each="transmissionType : ${transmissionTypes}" th:value="${transmissionType}" th:text="${transmissionType}"
                                 th:selected="${transmissionType eq session['transmissionType']}"></option>
                            </select>
                        </div>
                        <div class="flex flex-col mb-4">
                            <label for="driveTrain">Pogon kotača</label>
                            <select id="driveTrain" name="driveTrain" class="input">
                                <option value="" disabled selected>Odabir</option>
                                <option th:each="driveTrainType : ${driveTrainTypes}" th:value="${driveTrainType}" th:text="${driveTrainType}"
                                 th:selected="${driveTrainType eq session['driveTrainType']}"></option>
                            </select>
                        </div>
                    </div>
                    
                    <div class="flex justify-between mb-4">
                        <div class="mt-2">
                            <div th:if="${step > 1}">
                                <a th:href="@{/back(step=${step - 1})}" class="button ">Nazad</a>
                            </div>
                        </div>
                        <div>
                            <input type="submit" value="Dalje" class="button">
                        </div>
                    </div>
                </form>
                
            </div>

            <!-- Step 4: Vehicle Detailed -->
            <div th:if="${step eq 4}" class="h-full mb-4 flex flex-col items-center border rounded-md">
                <th:block th:insert="~{fragments/progress-bar :: progress-bar}"></th:block>
                <h2 class="text-xl font-bold text-gray-700 mb-8">Vozilo - detaljno</h2>
                <form th:action="@{/oglas-4}" method="post">
                    <div class="flex flex-wrap gap-4">
                        <div class="w-96">
                            <div class="flex justify-between">
                                <div th:if="${engineType eq 'Električni'}">
                                    <div class="relative flex flex-col mb-4">
                                        <label for="batteryCapacity">Kapacitet baterije</label>
                                        <div class="flex items-center">
                                            <input type="text" id="batteryCapacity" name="batteryCapacity" required pattern="[0-9]*\.?[0-9]+" class="input w-28"
                                             placeholder="50" oninput="validateInput(this)">
                                            <span class="absolute right-0 pr-5 text-gray-500 text-xl">kWh</span>
                                        </div>
                                    </div>
                                </div>
                    
                                <div th:if="${engineType eq 'Električni'}">
                                    <div class="relative flex flex-col mb-4">
                                        <label for="vehicleRange">Doseg vozila</label>
                                        <div class="flex items-center">
                                            <input type="text" id="vehicleRange" name="vehicleRange" required pattern="[0-9]*\.?[0-9]+" class="input w-28"
                                             placeholder="100" oninput="validateInput(this)">
                                            <span class="absolute right-0 pr-2 text-gray-500 text-xl">km</span>
                                        </div>
                                    </div>
                                </div>
                    
                                <div th:if="${engineType eq 'Električni'}">
                                    <div class="relative flex flex-col mb-4">
                                        <label for="chargingTime">Vrijeme punjenja</label>
                                        <div class="flex items-center ml-2">
                                            <input type="text" id="chargingTime" name="chargingTime" required pattern="[0-9]*\.?[0-9]+" class="input w-28"
                                             placeholder="1" oninput="validateInput(this)">
                                            <span class="absolute right-0 pr-2 text-gray-500 text-xl">h</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="relative inline-block text-left">
                        <div>
                          <span class="rounded-md shadow-sm">
                            <button type="button" id="selectButton" class="inline-flex justify-center w-full rounded-md border border-gray-300 px-4 py-2 bg-white text-sm leading-5 font-medium text-gray-700 hover:text-gray-500 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:bg-gray-50 active:text-gray-800 transition ease-in-out duration-150" aria-haspopup="true" aria-expanded="false">
                              <span class="flex items-center">
                                <span class="ml-2">Select options</span>
                              </span>
                              <svg class="ml-2.5 -mr-1.5 h-5 w-5" viewBox="0 0 20 20" fill="none" stroke="currentColor">
                                <path d="M7 7l3-3 3 3m0 6l-3 3-3-3" />
                              </svg>
                            </button>
                          </span>
                        </div>
                        <div id="optionsContainer" class="origin-top-right absolute right-0 mt-2 w-56 rounded-md shadow-lg hidden">
                          <div class="rounded-md bg-white shadow-xs">
                            <div class="flex items-center border-b border-gray-200 px-4 py-3">
                              <input type="text" id="searchInput" class="block w-full rounded-md border-gray-300 shadow-sm focus:border-blue-300 focus:ring focus:ring-blue-200 focus:ring-opacity-50" placeholder="Search">
                            </div>
                            <div class="max-h-56 overflow-y-auto">
                              <ul class="py-1" id="multiselectOptions">
                                <!-- Add your options here -->
                                <li class="cursor-pointer px-4 py-2 hover:bg-gray-100">
                                  <input type="checkbox" class="form-checkbox h-4 w-4 text-blue-600 transition duration-150 ease-in-out" value="Option 1">
                                  <span class="ml-2 text-gray-700">Option 1</span>
                                </li>
                                <li class="cursor-pointer px-4 py-2 hover:bg-gray-100">
                                  <input type="checkbox" class="form-checkbox h-4 w-4 text-blue-600 transition duration-150 ease-in-out" value="Option 2">
                                  <span class="ml-2 text-gray-700">Option 2</span>
                                </li>
                                <li class="cursor-pointer px-4 py-2 hover:bg-gray-100">
                                  <input type="checkbox" class="form-checkbox h-4 w-4 text-blue-600 transition duration-150 ease-in-out" value="Option 3">
                                  <span class="ml-2 text-gray-700">Option 3</span>
                                </li>
                              </ul>
                            </div>
                          </div>
                        </div>
                        <div class="mt-2">
                          <ul id="selectedOptions" class="flex flex-wrap">
                            <!-- Selected options will be dynamically added here -->
                          </ul>
                        </div>
                      </div>

                      <script>
                        // JavaScript code
                        document.addEventListener("DOMContentLoaded", function() {
                          var selectButton = document.getElementById("selectButton");
                          var optionsContainer = document.getElementById("optionsContainer");
                      
                          // Hide options on page load
                          optionsContainer.classList.add("hidden");
                      
                          // Toggle options on button click
                          selectButton.addEventListener("click", function() {
                            var expanded = selectButton.getAttribute("aria-expanded") === "true";
                            selectButton.setAttribute("aria-expanded", !expanded);
                            optionsContainer.classList.toggle("hidden");
                          });
                        });
                      </script>
                    
                    <div class="flex justify-between mb-4">
                        <div class="mt-2">
                            <div th:if="${step > 1}">
                                <a th:href="@{/back(step=${step - 1})}" class="button ">Nazad</a>
                            </div>
                        </div>
                        <div>
                            <input type="submit" value="Dalje" class="button">
                        </div>
                    </div>
                </form>
            </div>

            <!-- Step 5: Vehicle Images -->
            <div th:if="${step eq 5}" class="h-full mb-4 flex flex-col items-center border rounded-md">
                <th:block th:insert="~{fragments/progress-bar :: progress-bar}"></th:block>
                <h2 class="text-xl font-bold text-gray-700 mb-8">Slike vozila</h2>
                <form th:action="@{/oglas-5}" method="post" enctype="multipart/form-data">
                    <div class="flex flex-col mb-4 w-96">
                        <input type="file" id="images" name="images" accept="image/*" multiple class="file:mr-4 file:py-2 file:px-4 file:rounded-md file:border-0 file:font-semibold
                        file:bg-gray-200
                        hover:file:bg-gray-300">
                    </div>
                    <div class="flex justify-between mb-4">
                        <div class="mt-2">
                            <div th:if="${step > 1}">
                                <a th:href="@{/back(step=${step - 1})}" class="button ">Nazad</a>
                            </div>
                        </div>
                        <div>
                            <input type="submit" value="Dalje" class="button">
                        </div>
                    </div>
                </form>
            </div>

            <div th:if="${step eq 6}" class="h-full mb-4 flex flex-col items-center border rounded-md">
                <th:block th:insert="~{fragments/progress-bar :: progress-bar}"></th:block>
                <h2 class="text-xl font-bold text-gray-700 mb-8 mt-4">Detalji oglasa</h2>
                <form th:action="@{/oglas-6}" method="post">
                    <div class="flex flex-col mb-4">
                        <label for="description">Opis oglasa</label>
                        <textarea id="description" name="description" rows="4" required class="input w-96 h-64 resize-none"></textarea>
                    </div>
                    <div class="relative flex flex-col mb-4">
                        <label for="price">Cijena</label>
                        <div class="flex items-center">
                            <input type="text" id="price" name="price" class="input w-96" required pattern="[0-9]*\.?[0-9]+"
                             placeholder="1000.00" oninput="validateInput(this)">
                            <span class="absolute right-0 pr-2 text-gray-500 text-xl">&euro;</span>
                        </div>
                    </div>
                    <div class="flex justify-between mb-4">
                        <div class="mt-2">
                            <div th:if="${step > 1}">
                                <a th:href="@{/back(step=${step - 1})}" class="button ">Nazad</a>
                            </div>
                        </div>
                        <div>
                            <input type="submit" value="Potvrdi" class="button">
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <th:block th:insert="~{fragments/sideDiv :: sideDiv}"></th:block>

    </main>

    <footer>
        <th:block th:insert="~{fragments/footer :: footer}"></th:block>
    </footer>
    
</body>
</html>