<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <th:block th:insert="~{fragments/head :: head}"></th:block>
    <title>AutoSpotter | Kontakt</title>
</head>
<body class="flex flex-col min-h-screen">

    <th:block th:insert="~{fragments/header :: header}"></th:block>

    <main class="flex flex-1">
        <th:block th:insert="~{fragments/sideDiv :: sideDiv}"></th:block>
        <div class="flex flex-col flex-1 w-50 items-center justify-center">
            <h1 class="text-3xl font-bold text-gray-700 mb-8">Kontaktirajte nas!</h1>

            <div class="mb-4 leading-loose">
                <h2 class="text-xl font-bold text-gray-700 mb-6 mt-6">Podaci za kontakt:</h2>
                <!-- <p class="flex items-center"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 mr-2">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M15 10.5a3 3 0 11-6 0 3 3 0 016 0z" />
                    <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1115 0z" />
                  </svg>
                  Adresa: Ulica 1, Zagreb
                </p> -->
                <p class="flex items-center"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 mr-2">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 6.75c0 8.284 6.716 15 15 15h2.25a2.25 2.25 0 002.25-2.25v-1.372c0-.516-.351-.966-.852-1.091l-4.423-1.106c-.44-.11-.902.055-1.173.417l-.97 1.293c-.282.376-.769.542-1.21.38a12.035 12.035 0 01-7.143-7.143c-.162-.441.004-.928.38-1.21l1.293-.97c.363-.271.527-.734.417-1.173L6.963 3.102a1.125 1.125 0 00-1.091-.852H4.5A2.25 2.25 0 002.25 4.5v2.25z" />
                  </svg>
                  Telefon: +385 91 2622 217
                </p>
                <p class="flex items-center"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 mr-2">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M21.75 6.75v10.5a2.25 2.25 0 01-2.25 2.25h-15a2.25 2.25 0 01-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0019.5 4.5h-15a2.25 2.25 0 00-2.25 2.25m19.5 0v.243a2.25 2.25 0 01-1.07 1.916l-7.5 4.615a2.25 2.25 0 01-2.36 0L3.32 8.91a2.25 2.25 0 01-1.07-1.916V6.75" />
                  </svg>
                  Email: autospotter.contact@gmail.com
                </p>
            </div>
            
            <div>
                <h2 class="text-xl font-bold text-gray-700 mb-6 mt-6">Pošaljite nam poruku!</h2>
                <form th:action="@{/kontakt}" method="post">
                    <div class="flex flex-col mb-4">
                        <label for="name">Ime</label>
                        <input type="text" id="name" name="name" required class="input">
                    </div>
                    <div class="flex flex-col mb-4">
                        <label for="email">Email adresa</label>
                        <input type="email" id="email" name="email" required class="input">
                    </div>
                    <div class="flex flex-col mb-4">
                        <label for="message">Poruka</label>
                        <textarea id="message" name="message" placeholder="..." rows="4" required class="input w-96 h-48 resize-none"></textarea>
                    </div>
                    <div class="flex flex-col mb-4">
                        <input type="submit" value="Pošalji" class="button"/>
                    </div>              
                </form>
            </div>
        </div>
        <th:block th:insert="~{fragments/sideDiv :: sideDiv}"></th:block>
    </main>

    <footer>
        <th:block th:insert="~{fragments/footer :: footer}"></th:block>
    </footer>
</body>
</html>