<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <th:block th:insert="~{fragments/head :: head}"></th:block>
    <title>AutoSpotter | Stranica ne postoji</title>
</head>

<body class="flex flex-col min-h-screen">

    <th:block th:insert="~{fragments/header :: header}"></th:block>

    <main class="flex min-h-screen items-center justify-center">

        <div class="text-center">
            <p class="text-base font-semibold text-cyan-700">404</p>
            <h1 class="mt-4 text-3xl font-bold tracking-tight text-gray-900 sm:text-5xl">Stranica ne postoji</h1>
            <p class="mt-6 text-base leading-7 text-gray-600">Nažalost, nismo mogli pronaći stranicu koju tražite.</p>
            <div class="mt-10 flex items-center justify-center gap-x-6">
                <a href="/" class="button">Natrag na naslovnu</a>
                <a href="/kontakt" class="text-sm font-semibold text-gray-900">Kontaktirajte podršku <span aria-hidden="true">&rarr;</span></a>
            </div>
        </div>
        
    </main>

    <footer>
        <th:block th:insert="~{fragments/footer :: footer}"></th:block>
    </footer>
</body>

</html>