<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <th:block th:insert="~{fragments/head :: head}"></th:block>
    <title>AutoSpotter</title>
</head>
<body class="flex flex-col min-h-screen">

    <th:block th:insert="~{fragments/header :: header}"></th:block>

    <div th:if="${successMessage}" x-data="{ show: true }" x-show="show" x-init="setTimeout(() => show = false, 10000)" class="absolute top-0 flex items-center w-full z-10 p-4 mb-4 text-sm text-green-800 border border-green-300 rounded-lg bg-green-50 mt-[4.8rem] dark:bg-gray-800 dark:text-green-400 dark:border-green-800" role="alert">
        <svg class="flex-shrink-0 inline w-4 h-4 mr-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
          <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
        </svg>
        <span class="sr-only">Uspješno</span>
        <div>
          <span class="font-medium" th:text="${successMessage}"></span>
        </div>
    </div>

    <div th:if="${param.uspjesnaPrijava}" x-data="{ show: true }" x-show="show" x-init="setTimeout(() => { show = false; history.replaceState({}, document.title, window.location.pathname); }, 5000)" class="absolute top-0 flex items-center w-full z-10 p-4 mb-4 text-sm text-green-800 border border-green-300 rounded-lg bg-green-50 mt-[4.8rem] dark:bg-gray-800 dark:text-green-400 dark:border-green-800" role="alert">
        <svg class="flex-shrink-0 inline w-4 h-4 mr-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
          <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
        </svg>
        <span class="sr-only">Uspješno</span>
        <div>
          <span class="font-medium" th:text="${'Dobrodošli ' + user.username + '!'}"></span>
        </div>
    </div>

    <div th:if="${param.uspjesnaOdjava}" x-data="{ show: true }" x-show="show" x-init="setTimeout(() => { show = false; history.replaceState({}, document.title, window.location.pathname); }, 5000)" class="absolute top-0 flex items-center w-full z-10 p-4 mb-4 text-sm text-green-800 border border-green-300 rounded-lg bg-green-50 mt-[4.8rem] dark:bg-gray-800 dark:text-green-400 dark:border-green-800" role="alert">
        <svg class="flex-shrink-0 inline w-4 h-4 mr-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
          <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
        </svg>
        <span class="sr-only">Uspješno</span>
        <div>
          <span class="font-medium">Uspješna odjava. Vidimo se uskoro!</span>
        </div>
    </div>

    <div th:if="${errorMessage}" x-data="{ show: true }" x-show="show" x-init="setTimeout(() => show = false, 10000)" class="absolute top-0 flex items-center w-full z-10 p-4 mb-4 text-sm text-red-800 border border-red-300 rounded-lg bg-red-50 mt-[4.8rem] dark:bg-gray-800 dark:text-red-400 dark:border-red-800" role="alert">
        <svg class="flex-shrink-0 inline w-4 h-4 mr-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
          <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
        </svg>
        <span class="sr-only">Pogreška</span>
        <div>
          <span class="font-medium" th:text="${errorMessage}"></span>
        </div>
    </div>

    <div th:if="${infoMessage}" x-data="{ show: true }" x-show="show" x-init="setTimeout(() => show = false, 10000)" class="absolute top-0 flex items-center w-full z-10 p-4 mb-4 text-sm text-blue-800 border border-blue-300 rounded-lg bg-blue-50 mt-[4.8rem] dark:bg-gray-800 dark:text-blue-400 dark:border-blue-800" role="alert">
        <svg class="flex-shrink-0 inline w-4 h-4 mr-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
          <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
        </svg>
        <span class="sr-only">Info</span>
        <div>
          <span class="font-medium" th:text="${infoMessage}"></span>
        </div>
    </div>
    
    <main class="flex flex-1 dark:bg-gray-600">
        <th:block th:insert="~{fragments/sideDiv :: sideDiv}"></th:block>

        <div class="flex flex-1 flex-col mt-8">
            <div class="flex justify-center h-96">
                <img class="object-cover aspect-square w-[48rem]" src="/img/map-and-navigation.png" alt="Naslovna slika">
            </div>

            <div class="flex flex-col justify-center items-center border">
                <p class="mb-8 text-gray-700 font-semibold text-2xl text-center">Istražite našu bogatu ponudu vozila svih marki i modela. Kategorije vozila koje možete pronaći kod nas uključuju:</p>
                <div class="flex gap-8">
                    <div class="border relative w-36 aspect-square flex flex-col items-center justify-center rounded-lg">
                        <p class="absolute top-1.5 text-gray-700 dark:text-gray-200 font-semibold">Automobil</p>
                        <a href="/oglasi?vehicleType=Automobil"><svg xmlns="http://www.w3.org/2000/svg" class="w-24" viewBox="0 0 640 512"><path fill="#0891b2" d="M544 192h-16L419.22 56.02A64.025 64.025 0 0 0 369.24 32H155.33c-26.17 0-49.7 15.93-59.42 40.23L48 194.26C20.44 201.4 0 226.21 0 256v112c0 8.84 7.16 16 16 16h48c0 53.02 42.98 96 96 96s96-42.98 96-96h128c0 53.02 42.98 96 96 96s96-42.98 96-96h48c8.84 0 16-7.16 16-16v-80c0-53.02-42.98-96-96-96zM160 432c-26.47 0-48-21.53-48-48s21.53-48 48-48s48 21.53 48 48s-21.53 48-48 48zm72-240H116.93l38.4-96H232v96zm48 0V96h89.24l76.8 96H280zm200 240c-26.47 0-48-21.53-48-48s21.53-48 48-48s48 21.53 48 48s-21.53 48-48 48z"/></svg></a>
                    </div>
                    <div class="border relative w-36 aspect-square flex flex-col items-center justify-center rounded-lg">
                        <p class="absolute top-1.5 text-gray-700 dark:text-gray-200 font-semibold">Motocikl</p>
                        <a href="/oglasi?vehicleType=Motocikl"><svg xmlns="http://www.w3.org/2000/svg" class="w-24" viewBox="0 0 2304 1280"><path fill="#0891b2" d="M2301 780q12 103-22 198.5t-99 163.5t-158.5 106t-196.5 31q-161-11-279.5-125T1411 880q-12-111 27.5-210.5T1557 499l-71-107q-96 80-151 194t-55 244q0 27-18.5 46.5T1216 896H891q-23 164-149 274t-294 110q-185 0-316.5-131.5T0 832t131.5-316.5T448 384q76 0 152 27l24-45Q501 256 320 256h-64q-26 0-45-19t-19-45t19-45t45-19h128q78 0 145 13.5T645.5 180t71.5 39.5t51 36.5h627l-85-128h-222q-30 0-49-22.5T1025 53q4-23 23-38t43-15h253q33 0 53 28l70 105l114-114q19-19 46-19h101q26 0 45 19t19 45v128q0 26-19 45t-45 19h-179l115 172q131-63 275-36q143 26 244 134.5T2301 780zM448 1152q115 0 203-72.5T762 896H448q-35 0-55-31q-18-32-1-63l147-277q-47-13-91-13q-132 0-226 94t-94 226t94 226t226 94zm1408 0q132 0 226-94t94-226t-94-226t-226-94q-60 0-121 24l174 260q15 23 10 49t-27 40q-15 11-36 11q-35 0-53-29l-174-260q-93 95-93 225q0 132 94 226t226 94z"/></svg></a>
                    </div>
                    <div class="border relative w-36 aspect-square flex flex-col items-center justify-center rounded-lg">
                        <p class="absolute top-1.5 text-gray-700 dark:text-gray-200 font-semibold">Kombi</p>
                        <a href="/oglasi?vehicleType=Kombi"><svg xmlns="http://www.w3.org/2000/svg" class="w-24" viewBox="0 0 24 24"><path fill="#0891b2" d="M3 7c-1.11 0-2 .89-2 2v8h2a3 3 0 0 0 3 3a3 3 0 0 0 3-3h6a3 3 0 0 0 3 3a3 3 0 0 0 3-3h2v-4c0-1.11-.89-2-2-2l-3-4H3m12 1.5h2.5l1.96 2.5H15V8.5m-9 7A1.5 1.5 0 0 1 7.5 17A1.5 1.5 0 0 1 6 18.5A1.5 1.5 0 0 1 4.5 17A1.5 1.5 0 0 1 6 15.5m12 0a1.5 1.5 0 0 1 1.5 1.5a1.5 1.5 0 0 1-1.5 1.5a1.5 1.5 0 0 1-1.5-1.5a1.5 1.5 0 0 1 1.5-1.5Z"/></svg></a>
                    </div>
                    <div class="border relative w-36 aspect-square flex flex-col items-center justify-center rounded-lg">
                        <p class="absolute top-1.5 text-gray-700 dark:text-gray-200 font-semibold">Kamion</p>
                        <a href="/oglasi?vehicleType=Kamion"><svg xmlns="http://www.w3.org/2000/svg" class="w-24" viewBox="0 0 256 256"><path fill="#0891b2" d="m247.43 117l-14-35a15.93 15.93 0 0 0-14.85-10H184v-8a8 8 0 0 0-8-8H24A16 16 0 0 0 8 72v112a16 16 0 0 0 16 16h17a32 32 0 0 0 62 0h50a32 32 0 0 0 62 0h17a16 16 0 0 0 16-16v-64a8.13 8.13 0 0 0-.57-3ZM72 208a16 16 0 1 1 16-16a16 16 0 0 1-16 16Zm-48-72V72h144v64Zm160 72a16 16 0 1 1 16-16a16 16 0 0 1-16 16Zm0-96V88h34.58l9.6 24Z"/></svg></a>
                    </div>
                </div>
            </div>

            <div class="flex flex-col justify-center text-center border">
                <p class="text-gray-700 font-semibold text-2xl text-center">-sekcija s najnovijih par oglasa-</p>
            </div>

            <div class="flex flex-col justify-center text-center border">
                <div>
                    <p class="text-gray-700 font-semibold text-2xl text-center">Da biste brzo pronašli željeno vozilo, iskoristite našu naprednu pretragu. Filtrirajte oglase po proizvođaču, modelu, godištu, cijeni, kilometraži i mnogim drugim kriterijima kako biste pronašli savršeno vozilo po vašem ukusu.</p>

                </div>
                <div class="flex justify-center">
                    <a href="/pretraga" class="button">Pretraži</a>
                </div>
            </div>

            <div class="flex flex-col justify-center text-center border">
                <div>
                    <p class="text-gray-700 font-semibold text-2xl text-center">Ako želite prodati svoje vozilo, ne gubite vrijeme! Postavljanje oglasa na našoj platformi je brzo i jednostavno. Samo pratite korake obrasca za postavljanje oglasa, dodajte nekoliko fotografija, napišite opis vozila i vaš oglas će biti vidljiv tisućama potencijalnih kupaca.</p>
                </div>
                <div class="flex justify-center">
                    <a href="/postavi-oglas" class="button">Postavi oglas</a>
                </div>
            </div>
            
            <div class="flex flex-col justify-center text-center border">
                <div>
                    <p class="text-gray-700 font-semibold text-2xl text-center">Imate pitanja ili nedoumice? Naš tim stručnjaka je tu da vam pomogne! Kontaktirajte nas putem e-maila ili telefonom, i rado ćemo vam pružiti neophodnu podršku.</p>
                </div>
                <div class="flex justify-center">
                    <a href="/kontakt" class="button">Kontaktirajte nas</a>
                </div>
            </div>
        </div>

        <th:block th:insert="~{fragments/sideDiv :: sideDiv}"></th:block>
        
    </main>
    
    <footer>
        <th:block th:insert="~{fragments/footer :: footer}"></th:block>
    </footer>
</body>
</html>
