<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <th:block th:insert="~{fragments/head :: head}"></th:block>
    <script th:src="@{/js/filtering.js}" defer="defer"></script>
    <title>AutoSpotter | Oglasi</title>
</head>
<body class="flex flex-col relative min-h-screen">
    
    <th:block th:insert="~{fragments/header :: header}"></th:block>

    <div th:if="${successMessage}" x-data="{ show: true }" x-show="show" x-init="setTimeout(() => show = false, 10000)"  class="absolute top-0 flex items-center w-full z-20 p-4 mb-4 text-sm text-green-800 border border-green-300 rounded-lg bg-green-50 mt-[4.8rem]" role="alert">
        <svg class="flex-shrink-0 inline w-4 h-4 mr-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
          <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
        </svg>
        <span class="sr-only">Uspješno</span>
        <div>
          <span class="font-medium" th:text="${successMessage}"></span>
        </div>
    </div>

    <main class="flex flex-1 space-x-4 dark:bg-gray-600">

        <div class="flex-0 w-1/5 bg-gray-100 dark:bg-gray-700 border-r-2 dark:border-gray-700 text-sm dark:text-gray-200">
            <h2 class="text-xl font-bold text-gray-700 mb-6 mt-8 ml-4 dark:text-gray-400">Filtriraj</h2>
            <form action="/oglasi" method="get">
                <div class="flex flex-col m-4" x-data="{ open: false }">
                    <label for="vehicleType">Tip vozila</label>
                    <div class="relative inline-block w-auto">
                        <select id="vehicleType" name="vehicleType" class="input w-full dark:bg-gray-500">
                            <option value="" selected>Sva vozila</option>
                            <option th:each="vehicleType : ${vehicleTypes}" th:value="${vehicleType}" th:text="${vehicleType}"></option>
                        </select>
                    </div>
                </div>
                <div class="flex flex-col m-4">
                    <label for="manufacturer">Proizvođač</label>
                    <div class="relative inline-block w-auto">
                        <select id="manufacturer" name="manufacturer" class="input w-full dark:bg-gray-500">
                            <option value="" disabled selected>Odabir</option>
                        </select>
                    </div>
                    
                </div>
                <div class="flex flex-col m-4">
                    <label for="model">Model</label>
                    <div class="relative inline-block w-auto">
                        <select id="model" name="vehicleModel" class="input w-full dark:bg-gray-500">
                            <option value="" disabled selected>Odabir</option>
                        </select>
                    </div>
                </div>
                <div class="flex flex-col m-4" id="bodyTypeSection">
                    <label for="bodyType">Oblik karoserije</label>
                    <div class="relative inline-block w-auto">
                        <select id="bodyType" name="bodyType" class="input w-full dark:bg-gray-500">
                            <option value="" selected>Svi oblici</option>
                            <option th:each="bodyType : ${bodyTypes}" th:value="${bodyType}" th:text="${bodyType}"></option>
                        </select>
                    </div>
                </div>
                <div class="flex flex-col m-4">
                    <label for="engineType">Motor</label>
                    <div class="relative inline-block w-auto">
                        <select id="engineType" name="engineType" class="input w-full dark:bg-gray-500">
                            <option value="" selected>Sve vrste</option>
                            <option th:each="engineType : ${engineTypes}" th:value="${engineType}" th:text="${engineType}"></option>
                        </select>
                    </div>
                </div>
                <div class="flex flex-col m-4">
                    <label for="transmissionButtons">Mjenjač</label>
                    <div class="flex shadow-md" id="transmissionButtons">
                        <button type="button" id="transmissionAll" class="button bg-neutral-400 flex-grow rounded-br-none rounded-tr-none selected">Sve vrste</button>
                        <button type="button" id="transmissionManual" class="button bg-neutral-400 flex-grow rounded-none">Ručni</button>
                        <button type="button" id="transmissionAutomatic" class="button bg-neutral-400 flex-grow rounded-none">Automatski</button>
                        <button type="button" id="transmissionSemiAutomatic" class="button bg-neutral-400 flex-grow rounded-bl-none rounded-tl-none">Poluautom.</button>
                    </div>
                    <input type="hidden" id="selectedTransmission" name="transmission" value="">
                </div>
                <div class="flex flex-col m-4">
                    <label for="location">Lokacija vozila</label>
                    <div class="relative inline-block w-auto">
                        <select id="location" name="location" class="input w-full dark:bg-gray-500">
                            <option value="" disabled selected>Odabir</option>
                            <option th:each="county : ${counties}" th:value="${county}" th:text="${county}"></option>
                        </select>
                    </div>
                </div>
                <div class="flex flex-col m-4">
                    <label for="mileageFrom">Kilometraža vozila</label>
                    <div class="flex items-center">
                        <input type="number" name="mileageFrom" id="mileageFrom" min="0" placeholder="0" class="input w-11/12 no-arrows flex-grow pl-1 dark:bg-gray-500">
                        <p class="text-center mr-4 ml-4">do</p>
                        <input type="number" name="mileageTo" id="mileageTo" min="0" placeholder="..." class="input w-11/12 no-arrows flex-grow pl-1 dark:bg-gray-500">
                    </div>
                    <p id="mileageError" class="text-red-500"></p>
                </div>
                <div class="flex flex-col m-4">
                    <label for="yearFrom">Godina proizvodnje</label>
                    <div class="flex items-center">
                        <div class="relative inline-block w-full">
                            <select id="yearFrom" name="yearFrom" class="input flex-grow w-full dark:bg-gray-500">
                                <option value="" disabled selected>Odabir</option>
                                <option th:each="year: ${years}" th:value="${year}" th:text="${year}"></option>
                            </select>
                        </div>
                        <p class="text-center mr-4 ml-4">do</p>
                        <div class="relative inline-block w-full">
                            <select id="yearTo" name="yearTo" class="input flex-grow w-full dark:bg-gray-500">
                                <option value="" disabled selected>Odabir</option>
                                <option th:each="year: ${years}" th:value="${year}" th:text="${year}"></option>
                            </select>
                        </div>
                    </div>
                    <p id="yearError" class="text-red-500"></p>
                </div>
                
                <div class="flex flex-col m-4">
                    <label for="priceFrom">Cijena vozila</label>
                    <div class="flex items-center">
                        <input type="number" id="priceFrom" name="priceFrom" min="0" placeholder="0" class="input w-11/12 no-arrows flex-grow pl-1 dark:bg-gray-500">
                        <p class="text-center mr-4 ml-4">do</p>
                        <input type="number" id="priceTo" name="priceTo" min="0" placeholder="..." class="input w-11/12 no-arrows flex-grow pl-1 dark:bg-gray-500">
                    </div>
                    <p id="priceError" class="text-red-500"></p>
                </div>
                
                <div class="flex flex-col m-4">
                    <label for="userTypeButtons">Tip prodavača</label>
                    <div class="flex shadow-md" id="userTypeButtons">
                        <button type="button" id="userTypeAll" class="button bg-neutral-400 flex-grow rounded-br-none rounded-tr-none selected">Svi prodavači</button>
                        <button type="button" id="userTypePrivate" class="button bg-neutral-400 flex-grow rounded-none">Privatni</button>
                        <button type="button" id="userTypeBusiness" class="button bg-neutral-400 flex-grow rounded-bl-none rounded-tl-none">Poslovni</button>
                    </div>
                    <input type="hidden" id="selectedUserType" name="userType" value="" />
                </div>
                <div class="flex justify-end m-4">
                    <input type="reset" value="Poništi" class="button mr-4">
                    <input type="submit" id="submitBtn" value="Filtriraj" class="button">
                </div>
            </form>
        </div>

        <div class="flex-1 mt-8">
            <div class="flex items-center justify-between">
                <h1 class="text-3xl font-bold text-gray-700 mb-8 dark:text-gray-400">Oglasi <span class="text-2xl" th:text="${'(' + totalListingsCount + ')'}"></span></h1>
                <div x-data="{ open: false }" class="mb-6 relative inline-block text-left">
                    
                    <button type="button" data-dropdown-toggle="optionsDropdown" data-dropdown-placement="bottom-end" class="text-gray-700 font-medium hover:text-cyan-700 inline-flex items-center focus:outline-none">
                        <a href="#">
                            <svg class="rounded-full w-8 p-1 ring-2 ring-gray-700 hover:ring-cyan-700" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48"><g fill="none" stroke="#111827" stroke-linecap="round" stroke-linejoin="round" stroke-width="4"><path d="M25 14L16 5L7 14"/><path d="M15.9917 31V5"/><path d="M42 34L33 43L24 34"/><path d="M32.9917 17V43"/></g></svg>
                        </a>
                    </button>
  
                    <div id="optionsDropdown" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-36 dark:bg-gray-700 dark:divide-gray-600">
                        <ul class="py-2 text-gray-700 dark:text-gray-200" aria-labelledby="options-menu">
                            <li>
                                <a href="#" class="block px-4 py-2 text-gray-700 hover:text-cyan-700 hover:bg-gray-100" role="menuitem">Najniža cijena</a>
                            </li>
                            <li>
                                <a href="#" class="block px-4 py-2 text-gray-700 hover:text-cyan-700 hover:bg-gray-100" role="menuitem">Najviša cijena</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            
            <ul>
                <li th:each="listing : ${newListings}" class="relative flex items-center space-x-4 mb-4 border rounded-md shadow-md dark:border-gray-700">
                    <a th:href="@{'/oglasi/' + ${listing.id}}"><img class="w-56 h-56 object-cover rounded" th:src="@{img/car-example.jpg}" alt="Slika vozila"></a>
                    <div>
                        <a th:href="@{'/oglasi/' + ${listing.id}}" class="text-cyan-700 text-xl hover:text-cyan-900">
                            <h2 class="mb-4 inline-block dark:text-cyan-600 dark:hover:text-cyan-700" th:text="${listing.vehicle.manufacturer + ' ' + listing.vehicle.model + ' (' + listing.vehicle.year + ')'}"></h2>
                        </a>
                        <p th:text="&euro; + ${listing.listingPrice == listing.listingPrice.intValue() ? listing.listingPrice.intValue() : listing.listingPrice}" class="text-gray-700 text-lg font-semibold mb-4 dark:text-gray-200"></p>

                        <p th:text="${listing.vehicle.state + ', ' + listing.vehicle.mileage + ' km'}" class="text-gray-700 dark:text-gray-200"></p>
                        <p class="text-gray-700 dark:text-gray-200">
                            <span th:if="${#strings.length(listing.listingDescription) > 75}" th:text="${#strings.substring(listing.listingDescription, 0, 75) + '...'}"></span>
                            <span th:if="${#strings.length(listing.listingDescription) > 75}">
                                <a th:href="@{'/oglasi/' + ${listing.id}}" class="text-cyan-700 hover:text-cyan-900">Više</a>
                            </span>
                            <span th:unless="${#strings.length(listing.listingDescription) > 75}" th:text="${listing.listingDescription}"></span>
                        </p>
                        <p class="mt-10 text-gray-700 dark:text-gray-200" th:text="${#dates.format(listing.createdAt, 'dd.MM.yyyy')}"></p>
                        <p class="flex items-center text-gray-700 absolute top-0 right-0 mt-3 mr-4 dark:text-gray-200">
                            <span class="mr-1">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-cyan-700 dark:text-cyan-600">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M15 10.5a3 3 0 11-6 0 3 3 0 016 0z" />
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1115 0z" />
                                </svg>
                            </span>
                            <span th:text="${listing.vehicle.city.cityName}"></span>
                        </p>
                        <a th:href="@{'/korisnicki-profil/' + ${listing.user.id}}" class="flex items-center text-cyan-700 absolute bottom-0 right-0 mb-3 mr-4 hover:text-cyan-900 dark:text-cyan-600 dark:hover:text-cyan-700">
                            <span class="mr-1"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M17.982 18.725A7.488 7.488 0 0012 15.75a7.488 7.488 0 00-5.982 2.975m11.963 0a9 9 0 10-11.963 0m11.963 0A8.966 8.966 0 0112 21a8.966 8.966 0 01-5.982-2.275M15 9.75a3 3 0 11-6 0 3 3 0 016 0z" />
                              </svg>
                              </span>
                            <span th:text="${listing.user.username}"></span>
                        </a>
                    </div>
                </li>
            </ul>

            <div th:if="${#lists.isEmpty(newListings)}" class="text-center">
                <p class="text-gray-700 font-semibold mt-8" th:text="${noListingsFoundMessage}"></p>
                <h2 class="text-xl font-semibold text-gray-700 mb-4 mt-8">Slični oglasi</h2>
                <ul>
                    <!-- Add Thymeleaf code to iterate over and display similar listings -->
                </ul>
            </div>

            <div class="flex justify-center mb-4">
                <nav class="inline-flex">
                    <a th:href="@{'/oglasi?page=' + ${currentPage - 1}}" class="px-3 border rounded-l-md border-gray-300 flex hover:bg-gray-50 dark:hover:bg-gray-700 dark:border-gray-800" th:if="${currentPage > 1}"><svg xmlns="http://www.w3.org/2000/svg" class="w-4" viewBox="0 0 24 24"><path d="M10.8284 12.0007L15.7782 16.9504L14.364 18.3646L8 12.0007L14.364 5.63672L15.7782 7.05093L10.8284 12.0007Z"></path></svg></a>
                    <span class="px-4 py-2 border-t border-b border-gray-300 bg-white font-semibold text-gray-700 dark:text-gray-200 dark:bg-gray-700 dark:border-gray-800" th:text="${currentPage + ' od ' + totalPages}"></span>
                    <a th:href="@{'/oglasi?page=' + ${currentPage + 1}}" class="px-3 border rounded-r-md border-gray-300 flex hover:bg-gray-50 dark:hover:bg-gray-700 dark:border-gray-800" th:if="${currentPage < totalPages}"><svg xmlns="http://www.w3.org/2000/svg" class="w-4" viewBox="0 0 24 24"><path d="M13.1714 12.0007L8.22168 7.05093L9.63589 5.63672L15.9999 12.0007L9.63589 18.3646L8.22168 16.9504L13.1714 12.0007Z"></path></svg></a>
                </nav>
            </div>

        </div>

        <th:block th:insert="~{fragments/sideDiv :: sideDiv}"></th:block>
    </main>

    <footer>
        <th:block th:insert="~{fragments/footer :: footer}"></th:block>
    </footer>
</body>
</html>