<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="~{fragments/head :: head}"></th:block>
    <title>Nova lozinka</title>
</head>
<body>
    <h1>Reset Password</h1>
    <form th:action="@{/reset-password}" method="post">
        <input type="hidden" name="token" th:value="${token}" />
        <div>
            <label for="password">Nova lozinka:</label>
            <input type="password" id="password" name="password" required class="input"/>
        </div>
        <div>
            <input type="submit" class="button" value="Potvrdi" />
        </div>
    </form>
</body>
</html>
