<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="~{fragments/head :: head}"></th:block>
    <script th:src="@{/js/resetPasswordValidation.js}" defer="defer"></script>
    <title>AutoSpotter | Nova lozinka</title>
</head>
<body class="flex flex-col min-h-screen">

    <th:block th:insert="~{fragments/header :: header}"></th:block>

    <div th:if="${errorMessage}" x-data="{ show: true }" x-show="show" x-init="setTimeout(() => show = false, 10000)"  class="absolute top-0 flex items-center w-full z-10 p-4 mb-4 text-sm text-red-800 border border-red-300 rounded-lg bg-red-50 mt-[4.8rem]" role="alert">
        <svg class="flex-shrink-0 inline w-4 h-4 mr-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
          <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
        </svg>
        <span class="sr-only">Pogreška</span>
        <div>
          <span class="font-medium" th:text="${errorMessage}"></span>
        </div>
    </div>
    
    <main class="flex flex-1 dark:bg-gray-600">
        <th:block th:insert="~{fragments/sideDiv :: sideDiv}"></th:block>

        <div class="flex flex-col flex-1 w-50 items-center justify-center">

            <h1 class="text-3xl font-bold text-gray-700 mb-8">Resetiranje lozinke</h1>
            <div class="flex items-center justify-center mb-4">
                <form th:action="@{/reset-lozinke}" method="post" onsubmit="return validateForm()">

                    <input type="hidden" name="token" th:value="${token}"/>
                    
                    <div class="flex flex-col mb-4">
                        <label for="password">Nova lozinka</label>
                        <input type="password" id="password" name="password" required class="input w-96" oninput="validatePassword()"/>
                        <ul id="passwordCriteria" class="max-w-md space-y-1 text-gray-500 list-disc list-inside dark:text-gray-400">
                            <li id="lengthCriteria">Najmanje 6 znakova</li>
                            <li id="numberCriteria">Najmanje 1 broj</li>
                            <li id="specialCharCriteria">Najmanje 1 poseban znak, npr. ! @ # ?</li>
                        </ul>
                    </div>

                    <div class="flex flex-col mb-4">
                        <label for="confirmPassword">Potvrdi lozinku <span id="passwordError" class="text-red-500"></span></label>
                        <input type="password" id="confirmPassword" name="confirmPassword" required class="input w-96" oninput="checkPasswordsMatch()"/>
                    </div>

                    <div class="flex flex-col">
                        <input type="submit" class="button" value="Potvrdi" />
                    </div>

                </form>
            </div>
            
        </div>
        
        <th:block th:insert="~{fragments/sideDiv :: sideDiv}"></th:block>
    </main>
    
    <footer>
        <th:block th:insert="~{fragments/footer :: footer}"></th:block>
    </footer>

</body>
</html>