<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <th:block th:insert="~{fragments/head :: head}"></th:block>
    <script th:src="@{/js/filteringVehicleSearch.js}" defer="defer"></script>
    <title>AutoSpotter | Pretraga</title>
</head>

<body class="flex flex-col min-h-screen">

    <th:block th:insert="~{fragments/header :: header}"></th:block>

    <main class="lg:flex flex-1 dark:bg-gray-800">

        <th:block th:insert="~{fragments/sideDiv :: sideDiv}"></th:block>

        <div class="flex flex-col flex-1 w-50 mt-8 ml-4 mr-4 dark:text-gray-200 min-h-screen">

            <h1 class="text-3xl font-bold text-gray-700 mb-8 dark:text-gray-200">Pretraga</h1>

            <div class="border rounded-md mb-4 shadow-md dark:border-gray-700">
                <h2 class="text-xl font-bold text-gray-700 mb-6 mt-6 ml-4 dark:text-gray-200">Osnovni podaci</h2>
                <hr class="dark:border-gray-700">
                <div class="flex flex-col m-4">
                    <label class="dark:text-gray-300" for="vehicleType">Tip vozila</label>
                    <select id="vehicleType" class="input select2-basic">
                        <option value="" selected>Sva vozila</option>
                        <option th:each="vehicleType : ${vehicleTypes}" th:value="${vehicleType}"
                            th:text="${vehicleType}"></option>
                    </select>
                </div>
                <div class="grid grid-cols-1 lg:grid-cols-2 lg:gap-12 gap-4 m-4">
                    <div class="flex flex-col">
                        <label class="dark:text-gray-300" for="manufacturer">Proizvođač</label>
                        <select id="manufacturer" name="manufacturer" class="input select2-withSearch">
                            <option value="" disabled selected>Odabir</option>
                        </select>
                    </div>

                    <div class="flex flex-col">
                        <label class="dark:text-gray-300" for="model">Model</label>
                        <select id="model" name="model" class="input select2-withSearch">
                            <option value="" disabled selected>Odabir</option>
                        </select>
                    </div>
                </div>

                <div id="bodyTypeSection" class="flex flex-col m-4">
                    <label class="dark:text-gray-300" for="bodyType">Oblik karoserije</label>
                    <select id="bodyType" class="input select2-basic">
                        <option value="" selected>Svi oblici</option>
                        <option th:each="bodyType : ${bodyTypes}" th:value="${bodyType}" th:text="${bodyType}"></option>
                    </select>
                </div>

                <div class="flex flex-col m-4">
                    <label class="dark:text-gray-300" for="numberOfDoors">Broj vrata</label>
                    <input type="number" id="numberOfDoors" min="0" placeholder="4" class="input no-arrows flex-grow pl-1">
                </div>

                <div id="truckDetailsSection" class="grid lg:grid-cols-2 grid-cols-1 lg:gap-12 gap-4 m-4">
                    <div class="flex flex-col">
                        <label class="dark:text-gray-300" for="numberOfWheels">Broj kotača</label>
                        <input type="number" id="numberOfWheels" name="numberOfWheels" min="4" placeholder="6" class="input no-arrows">
                    </div>

                    <div class="flex flex-col">
                        <label class="dark:text-gray-300" for="maximumAllowableWeight">Najveća dopuštena masa</label>
                        <div class="flex items-center">
                            <input type="text" id="maximumAllowableWeight" name="maximumAllowableWeight"
                                placeholder="1000" pattern="[0-9]*\.?[0-9]+" required class="input w-full no-arrows"
                                oninput="validateInput(this)">
                        </div>
                    </div>
                </div>

                <div class="flex flex-col m-4">
                    <label class="dark:text-gray-300" for="mileageFrom">Kilometraža vozila</label>
                    <div class="flex items-center">
                        <input type="number" id="mileageFrom" min="0" placeholder="0"
                            class="input w-11/12 no-arrows flex-grow pl-1">
                        <p class="text-center mr-4 ml-4">do</p>
                        <input type="number" id="mileageTo" min="0" placeholder="..."
                            class="input w-11/12 no-arrows flex-grow pl-1">
                    </div>
                    <p id="mileageError" class="text-red-500"></p>
                </div>
                <div class="flex flex-col m-4">
                    <label class="dark:text-gray-300" for="priceFrom">Cijena vozila</label>
                    <div class="flex items-center">
                        <input type="number" id="priceFrom" min="0" placeholder="0"
                            class="input w-11/12 no-arrows flex-grow pl-1">
                        <p class="text-center mr-4 ml-4">do</p>
                        <input type="number" id="priceTo" min="0" placeholder="..."
                            class="input w-11/12 no-arrows flex-grow pl-1">
                    </div>
                    <p id="priceError" class="text-red-500"></p>
                </div>
                <div class="flex flex-col m-4">
                    <label class="dark:text-gray-300" for="state">Stanje vozila</label>
                    <select id="state" class="input select2-basic">
                        <option value="" disabled selected>Odabir</option>
                        <option th:each="state : ${states}" th:value="${state}" th:text="${state}"></option>
                    </select>
                </div>
                <div class="flex flex-col m-4">
                    <label class="dark:text-gray-300" for="yearFrom">Godina proizvodnje</label>
                    <div class="flex items-center">
                        <select id="yearFrom" class="input flex-grow select2-basic">
                            <option value="" disabled selected>Odabir</option>
                            <option th:each="yearFrom : ${years}" th:value="${yearFrom}" th:text="${yearFrom}"></option>
                        </select>
                        <p class="text-center mr-4 ml-4">do</p>
                        <select id="yearTo" class="input flex-grow select2-basic">
                            <option value="" disabled selected>Odabir</option>
                            <option th:each="yearTo : ${years}" th:value="${yearTo}" th:text="${yearTo}"></option>
                        </select>
                    </div>
                    <p id="yearError" class="text-red-500"></p>
                </div>
                <div class="flex flex-col m-4">
                    <label class="dark:text-gray-300" for="city">Lokacija vozila</label>
                    <select id="city" name="city" required class="input select2-withSearch">
                        <option value="" disabled selected>Odabir</option>
                        <th:block th:each="entry : ${citiesByCounty}">
                            <optgroup th:label="${entry.key}">
                                <th:block th:each="city : ${entry.value}">
                                    <option th:value="${city}" th:text="${city}"
                                        th:selected="${city eq session['city']}"></option>
                                </th:block>
                            </optgroup>
                        </th:block>
                    </select>
                </div>
            </div>

            <div class="border rounded-md mb-4 shadow-md dark:border-gray-700">
                <h2 class="text-xl font-bold text-gray-700 mb-6 mt-6 ml-4 dark:text-gray-200">Tehnički podaci</h2>
                <hr class="dark:border-gray-700">
                <div class="flex flex-col m-4">
                    <label class="dark:text-gray-300" for="engineType">Motor</label>
                    <select id="engineType" class="input select2-basic">
                        <option value="" selected>Sve vrste</option>
                        <option th:each="engineType : ${engineTypes}" th:value="${engineType}" th:text="${engineType}"></option>
                    </select>
                </div>
                <div id="electricEngineSection" class="grid grid-cols-3">
                    <div class="flex flex-col ml-4 mr-4">
                        <label class="dark:text-gray-300" for="batteryCapacity">Kapacitet baterije</label>
                        <div class="flex items-center">
                            <input type="text" id="batteryCapacity" name="batteryCapacity" required
                                pattern="[0-9]*\.?[0-9]+" class="input w-full" placeholder="50"
                                oninput="validateInput(this)">
                        </div>
                    </div>
                    <div class="flex flex-col">
                        <label class="dark:text-gray-300" for="vehicleRange">Doseg vozila</label>
                        <div class="flex items-center">
                            <input type="text" id="vehicleRange" name="vehicleRange" required
                                pattern="[0-9]*\.?[0-9]+" class="input w-full" placeholder="100"
                                oninput="validateInput(this)" th:value="${session['vehicleRange']}">
                        </div>
                    </div>
                    <div class="flex flex-col ml-4 mr-4">
                        <label class="dark:text-gray-300" for="chargingTime">Vrijeme punjenja</label>
                        <div class="flex items-center">
                            <input type="text" id="chargingTime" name="chargingTime" required
                                pattern="[0-9]*\.?[0-9]+" class="input w-full" placeholder="1"
                                oninput="validateInput(this)" th:value="${session['chargingTime']}">
                        </div>
                    </div>
                </div>
                <div class="flex flex-col m-4">
                    <label class="dark:text-gray-300" for="transmissionType">Mjenjač</label>
                    <select id="transmissionType" class="input select2-basic">
                        <option value="" selected>Sve vrste</option>
                        <option th:each="transmissionType : ${transmissionTypes}" th:value="${transmissionType}" th:text="${transmissionType}"></option>
                    </select>
                </div>
                <div class="flex flex-col m-4">
                    <label class="dark:text-gray-300" for="driveTrainType">Pogon kotača</label>
                    <select id="driveTrainType" class="input select2-basic">
                        <option value="" selected>Sve vrste</option>
                        <option th:each="driveTrainType : ${driveTrainTypes}" th:value="${driveTrainType}" th:text="${driveTrainType}"></option>
                    </select>
                </div>

                <div class="grid grid-cols-2">
                    <div class="relative flex flex-col ml-4 mr-4">
                        <label class="dark:text-gray-300" for="engineDisplacementFrom">Zapremnina motora</label>
                        <div class="flex items-center">
                            <input type="text" id="engineDisplacementFrom" name="engineDisplacementFrom" placeholder="1.0"
                                pattern="[0-9]*\.?[0-9]+" required class="input w-full" oninput="validateInput(this)">
                            <span class="absolute right-0 pr-2 text-gray-500 text-xl">L</span>
                            <p class="text-center mr-4 ml-4">do</p>
                            <input type="text" id="engineDisplacementTo" name="engineDisplacementTo" placeholder="..."
                                pattern="[0-9]*\.?[0-9]+" required class="input w-full" oninput="validateInput(this)">
                            <span class="absolute right-0 pr-2 text-gray-500 text-xl">L</span>
                        </div>
                    </div>
    
                    <div class="relative flex flex-col ml-4 mr-4">
                        <label class="dark:text-gray-300" for="engineDisplacementCcm3From">Radni obujam</label>
                        <div class="flex items-center">
                            <input type="text" id="engineDisplacementCcm3From" name="engineDisplacementCcm3From" placeholder="1000"
                                pattern="[0-9]*\.?[0-9]+" required class="input w-full" oninput="validateInput(this)">
                            <span class="absolute right-0 pr-2 text-gray-500 text-xl">L</span>
                            <p class="text-center mr-4 ml-4">do</p>
                            <input type="text" id="engineDisplacementCcm3To" name="engineDisplacementCcm3To" placeholder="..."
                                pattern="[0-9]*\.?[0-9]+" required class="input w-full" oninput="validateInput(this)">
                            <span class="absolute right-0 pr-2 text-gray-500 text-xl">L</span>
                        </div>
                    </div>
                </div>

                <div class="flex flex-col m-4">
                    <label class="dark:text-gray-300" for="enginePowerFrom">Snaga motora</label>
                    <div class="flex items-center">
                        <input type="number" id="enginePowerFrom" min="0" placeholder="0"
                            class="input w-11/12 no-arrows flex-grow pl-1">
                        <p class="text-center mr-4 ml-4">do</p>
                        <input type="number" id="enginePowerTo" min="0" placeholder="..."
                            class="input w-11/12 no-arrows flex-grow pl-1">
                    </div>
                </div>
                <div class="flex flex-col m-4">
                    <label class="dark:text-gray-300" for="fuelConsumptionFrom">Potrošnja goriva</label>
                    <div class="flex items-center">
                        <input type="number" id="fuelConsumptionFrom" min="0" placeholder="0" class="input w-11/12 no-arrows flex-grow pl-1">
                        <p class="text-center mr-4 ml-4">do</p>
                        <input type="number" id="fuelConsumptionTo" min="0" placeholder="..." class="input w-11/12 no-arrows flex-grow pl-1">
                    </div>
                </div>
                <div class="flex flex-col m-4">
                    <label class="dark:text-gray-300" for="ecoCategory">Ekološka kategorija</label>
                    <select id="ecoCategory" class="input select2-basic">
                        <option value="" selected>Sve kategorije</option>
                        <option th:each="ecoCategory : ${ecoCategories}" th:value="${ecoCategory}" th:text="${ecoCategory}"></option>
                    </select>
                </div>
            </div>

            <div class="border rounded-md mb-4 shadow-md dark:border-gray-700">
                <h2 class="text-xl font-bold text-gray-700 mb-6 mt-6 ml-4 dark:text-gray-200">Izgled i značajke</h2>
                <hr class="dark:border-gray-700">
                <div class="flex flex-col m-4">
                    <label class="dark:text-gray-300" for="blackColorCheckbox">Boja vozila</label>
                    <div class="md:flex grid grid-cols-3">
                        <input type="checkbox" id="blackColorCheckbox" value="crna" class="hidden" name="colorCheckbox"/>
                        <label for="blackColorCheckbox" class="flex items-center cursor-pointer p-2 dark:text-gray-300">
                            <span class="w-4 h-4 inline-block mr-1 border border-gray-400 rounded"></span>
                            Crna
                        </label>
                    
                        <input type="checkbox" id="whiteColorCheckbox" value="bijela" class="hidden" name="colorCheckbox"/>
                        <label for="whiteColorCheckbox" class="flex items-center cursor-pointer p-2 dark:text-gray-300">
                            <span class="w-4 h-4 inline-block mr-1 border border-gray-400 rounded"></span>
                            Bijela
                        </label>

                        <input type="checkbox" id="redColorCheckbox" value="crvena" class="hidden" name="colorCheckbox"/>
                        <label for="redColorCheckbox" class="flex items-center cursor-pointer p-2 dark:text-gray-300">
                            <span class="w-4 h-4 inline-block mr-1 border border-gray-400 rounded"></span>
                            Crvena
                        </label>

                        <input type="checkbox" id="blueColorCheckbox" value="plava" class="hidden" name="colorCheckbox"/>
                        <label for="blueColorCheckbox" class="flex items-center cursor-pointer p-2 dark:text-gray-300">
                            <span class="w-4 h-4 inline-block mr-1 border border-gray-400 rounded"></span>
                            Plava
                        </label>

                        <input type="checkbox" id="greenColorCheckbox" value="zelena" class="hidden" name="colorCheckbox"/>
                        <label for="greenColorCheckbox" class="flex items-center cursor-pointer p-2 dark:text-gray-300">
                            <span class="w-4 h-4 inline-block mr-1 border border-gray-400 rounded"></span>
                            Zelena
                        </label>

                        <input type="checkbox" id="grayColorCheckbox" value="siva" class="hidden" name="colorCheckbox"/>
                        <label for="grayColorCheckbox" class="flex items-center cursor-pointer p-2 dark:text-gray-300">
                            <span class="w-4 h-4 inline-block mr-1 border border-gray-400 rounded"></span>
                            Siva
                        </label>

                        <input type="checkbox" id="silverColorCheckbox" value="srebrna" class="hidden" name="colorCheckbox"/>
                        <label for="silverColorCheckbox" class="flex items-center cursor-pointer p-2 dark:text-gray-300">
                            <span class="w-4 h-4 inline-block mr-1 border border-gray-400 rounded"></span>
                            Srebrna
                        </label>
                        
                    </div>
                </div>
            </div>

            <div class="border rounded-md mb-4 shadow-md dark:border-gray-700">
                <h2 class="text-xl font-bold text-gray-700 mb-6 mt-6 ml-4 dark:text-gray-200">Detalji ponude</h2>
                <hr class="dark:border-gray-700">
                <div class="flex flex-col m-4">
                    <label class="dark:text-gray-300" for="userTypes">Vrsta prodavača</label>
                    <select id="userTypes" class="input select2-basic">
                        <option value="" selected>Svi prodavači</option>
                        <option value="Privatni">Privatni</option>
                        <option value="Poslovni">Poslovni</option>
                    </select>
                </div>
                <div class="md:flex items-center m-4">
                    <input id="onlyRegistered" type="checkbox" value="" class="hidden">
                    <label for="onlyRegistered" class="flex items-center cursor-pointer p-2 dark:text-gray-300">
                        <span class="w-4 h-4 inline-block mr-1 border border-gray-400 rounded"></span>
                        Samo registrirana vozila
                    </label>

                    <input id="onlyWithImages" type="checkbox" value="" class="hidden">
                    <label for="onlyWithImages" class="flex items-center cursor-pointer p-2 dark:text-gray-300">
                        <span class="w-4 h-4 inline-block mr-1 border border-gray-400 rounded"></span>
                        Samo oglasi sa slikama
                    </label>
                </div>
            </div>
            
            <div class="flex md:justify-end mb-4 ">
                <input type="submit" id="submitBtn" value="Filtriraj" class="button w-full md:w-24">
            </div>

        </div>

        <th:block th:insert="~{fragments/sideDiv :: sideDiv}"></th:block>
    </main>

    <footer>
        <th:block th:insert="~{fragments/footer :: footer}"></th:block>
    </footer>
</body>

</html>