<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <th:block th:insert="~{fragments/head :: head}"></th:block>
    <title>AutoSpotter | Pretraga</title>
</head>

<body class="flex flex-col min-h-screen">

    <th:block th:insert="~{fragments/header :: header}"></th:block>

    <main class="flex flex-1 space-x-4 dark:bg-gray-600">

        <th:block th:insert="~{fragments/sideDiv :: sideDiv}"></th:block>

        <div class="flex flex-col flex-1 w-50 mt-8 dark:text-gray-200">

            <h1 class="text-3xl font-bold text-gray-700 mb-8 dark:text-gray-400">Pretraga</h1>

            <div class="border rounded-md mb-4 shadow-md dark:border-gray-700">
                <h2 class="text-xl font-bold text-gray-700 mb-6 mt-6 ml-4 dark:text-gray-400">Osnovni podaci</h2>
                <hr class="dark:border-gray-700">
                <div class="flex flex-col m-4">
                    <label for="vehicleType">Tip vozila</label>
                    <select id="vehicleType" class="input select2-basic">
                        <option value="" selected>Sva vozila</option>
                        <option th:each="vehicleType : ${vehicleTypes}" th:value="${vehicleType}"
                            th:text="${vehicleType}"></option>
                    </select>
                </div>
                <div class="grid grid-cols-2 gap-12 m-4">
                    <div class="flex flex-col">
                        <label for="manufacturer">Proizvođač</label>
                        <select id="manufacturer" name="manufacturer" class="input select2-withSearch">
                            <option value="" disabled selected>Odabir</option>
                        </select>
                    </div>

                    <div class="flex flex-col">
                        <label for="model">Model</label>
                        <select id="model" name="model" class="input select2-withSearch">
                            <option value="" disabled selected>Odabir</option>
                        </select>
                    </div>
                </div>

                <div class="flex flex-col m-4">
                    <label for="bodyType">Oblik karoserije</label>
                    <select id="bodyType" class="input select2-basic">
                        <option value="" selected>Svi oblici</option>
                        <option th:each="bodyType : ${bodyTypes}" th:value="${bodyType}" th:text="${bodyType}"></option>
                    </select>
                </div>
                <div class="flex flex-col m-4">
                    <label for="mileageFrom">Kilometraža vozila</label>
                    <div class="flex items-center">
                        <input type="number" id="mileageFrom" min="0" placeholder="0"
                            class="input w-11/12 no-arrows flex-grow pl-1">
                        <p class="text-center mr-4 ml-4">do</p>
                        <input type="number" id="mileageTo" min="0" placeholder="..."
                            class="input w-11/12 no-arrows flex-grow pl-1">
                    </div>
                </div>
                <div class="flex flex-col m-4">
                    <label for="priceFrom">Cijena vozila</label>
                    <div class="flex items-center">
                        <input type="number" id="priceFrom" min="0" placeholder="0"
                            class="input w-11/12 no-arrows flex-grow pl-1">
                        <p class="text-center mr-4 ml-4">do</p>
                        <input type="number" id="priceTo" min="0" placeholder="..."
                            class="input w-11/12 no-arrows flex-grow pl-1">
                    </div>
                </div>
                <div class="flex flex-col m-4">
                    <label for="state">Stanje vozila</label>
                    <select id="state" class="input select2-basic">
                        <option value="" disabled selected>Odabir</option>
                        <option th:each="state : ${states}" th:value="${state}" th:text="${state}"></option>
                    </select>
                </div>
                <div class="flex flex-col m-4">
                    <label for="yearFrom">Godina proizvodnje</label>
                    <div class="flex items-center">
                        <select id="yearFrom" class="input flex-grow select2-basic">
                            <option value="" disabled selected>Odabir</option>
                            <option th:each="yearFrom : ${years}" th:value="${yearFrom}" th:text="${yearFrom}"></option>
                        </select>
                        <p class="text-center mr-4 ml-4">do</p>
                        <select id="yearTo" class="input flex-grow select2-basic">
                            <option value="" disabled selected>Odabir</option>
                            <option th:each="yearTo : ${years}" th:value="${yearTo}" th:text="${yearTo}"></option>
                        </select>
                    </div>
                </div>
                <div class="flex flex-col m-4">
                    <label for="city">Lokacija vozila</label>
                    <select id="city" name="city" required class="input select2-withSearch">
                        <option value="" disabled selected>Odabir</option>
                        <th:block th:each="entry : ${citiesByCounty}">
                            <optgroup th:label="${entry.key}">
                                <th:block th:each="city : ${entry.value}">
                                    <option th:value="${city}" th:text="${city}"
                                        th:selected="${city eq session['city']}"></option>
                                </th:block>
                            </optgroup>
                        </th:block>
                    </select>
                </div>
            </div>

            <div class="border rounded-md mb-4 shadow-md dark:border-gray-700">
                <h2 class="text-xl font-bold text-gray-700 mb-6 mt-6 ml-4 dark:text-gray-400">Tehnički podaci</h2>
                <hr class="dark:border-gray-700">
                <div class="flex flex-col m-4">
                    <label for="engineType">Motor</label>
                    <select id="engineType" class="input select2-basic">
                        <option value="" selected>Sve vrste</option>
                        <option th:each="engineType : ${engineTypes}" th:value="${engineType}" th:text="${engineType}"></option>
                    </select>
                </div>
                <div class="flex flex-col m-4">
                    <label for="transmissionType">Mjenjač</label>
                    <select id="transmissionType" class="input select2-basic">
                        <option value="" selected>Sve vrste</option>
                        <option th:each="transmissionType : ${transmissionTypes}" th:value="${transmissionType}" th:text="${transmissionType}"></option>
                    </select>
                </div>
                <div class="flex flex-col m-4">
                    <label for="driveTrainType">Pogon kotača</label>
                    <select id="driveTrainType" class="input select2-basic">
                        <option value="" selected>Sve vrste</option>
                        <option th:each="driveTrainType : ${driveTrainTypes}" th:value="${driveTrainType}" th:text="${driveTrainType}"></option>
                    </select>
                </div>
                <div class="flex flex-col m-4">
                    <label for="enginePowerFrom">Snaga motora</label>
                    <div class="flex items-center">
                        <input type="number" id="enginePowerFrom" min="0" placeholder="0"
                            class="input w-11/12 no-arrows flex-grow pl-1">
                        <p class="text-center mr-4 ml-4">do</p>
                        <input type="number" id="enginePowerTo" min="0" placeholder="..."
                            class="input w-11/12 no-arrows flex-grow pl-1">
                    </div>
                </div>
                <div class="flex flex-col m-4">
                    <label for="fuelConsumption">Potrošnja goriva</label>
                    <div class="flex items-center">
                        <input type="number" id="fuelConsumptionFrom" min="0" placeholder="0" class="input w-11/12 no-arrows flex-grow pl-1">
                        <p class="text-center mr-4 ml-4">do</p>
                        <input type="number" id="fuelConsumptionTo" min="0" placeholder="..." class="input w-11/12 no-arrows flex-grow pl-1">
                    </div>
                </div>
            </div>

            <div class="border rounded-md mb-4 shadow-md dark:border-gray-700">
                <h2 class="text-xl font-bold text-gray-700 mb-6 mt-6 ml-4 dark:text-gray-400">Detalji ponude</h2>
                <hr class="dark:border-gray-700">
                <div class="flex flex-col m-4">
                    <label for="transmissionType">Vrsta prodavača</label>
                    <select id="transmissionType" class="input select2-basic">
                        <option value="" selected>Svi prodavači</option>
                        <option value="Privatni">Privatni</option>
                        <option value="Poslovni">Poslovni</option>
                    </select>
                </div>
            </div>

            <div class="flex justify-end mb-4">
                <input type="submit" value="Filtriraj" class="button">
            </div>

        </div>

        <th:block th:insert="~{fragments/sideDiv :: sideDiv}"></th:block>
    </main>

    <footer>
        <th:block th:insert="~{fragments/footer :: footer}"></th:block>
    </footer>
</body>

</html>